<upsell-modal-dialog id="upsell-modal-dialog">
  <dialog
    class="upsell-modal-dialog dialog-modal color-{{ settings.popover_color_scheme }}"
    ref="dialog"
    scroll-lock
  >
    <div
      id="upsell-modal-content"
      class="upsell-modal-dialog__content"
    >
    </div>
  </dialog>
</upsell-modal-dialog>
